.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 500px;
  text-align: center;
  font-family: arial;
  padding: 10px;
}

.price {
  color: grey;
  font-size: 18px;
}

.card button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 45%;
  font-size: 18px;
}

.card button:hover {
  opacity: 0.7;
}

.box{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.fav{
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  font-size: x-large;
  font-weight: 300;
}
.search
{
  border: 2px solid #CF5C3F;
  overflow: auto;
  border-radius: 5px;
  margin: 30px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

.search input[type="text"]
{
  border: 0px;
  width: 67%;
  padding: 10px 10px;
}

.search input[type="text"]:focus
{
  outline: 0;
}

.search input[type="submit"]
{
  border: 0px;
  background: none;
  background-color: #CF5C3F;
  color: #fff;
  float: right;
  padding: 10px;
  border-radius-top-right: 5px;
  -moz-border-radius-top-right: 5px;
  -webkit-border-radius-top-right: 5px;
  border-radius-bottom-right: 5px;
  -moz-border-radius-bottom-right: 5px;
  -webkit-border-radius-bottom-right: 5px;
        cursor:pointer;
}

/* ===========================
   ====== Medua Query for Search Box ====== 
   =========================== */

@media only screen and (min-width : 150px) and (max-width : 780px)
{
  {}
  .search
  {
    width: 95%;
    margin: 0 auto;
  }

}

.icon{
  position: absolute;
  z-index: 10;
}

.box{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.fav{
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  font-size: x-large;
  font-weight: 300;
}